# ============================================
# APENAS A PASTA DE IMAGENS DO DATASET
# ============================================
dataset_35/images/

# ============================================
# CACHE DO PYTHON (OPCIONAL MAS RECOMENDADO)
# ============================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================
# SISTEMA (OPCIONAL)
# ============================================
.DS_Store
Thumbs.db